.navbar-collapse img {
    width: 100px;
    height: 100px;
    padding: 10px;
}
.navLoginBtn {
    background-color: rgb(166, 21, 24);
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
    color:white;
    font-size:15px;
}